
<form class="box-shadow-light">
    <fieldset>
        <legend>User Information</legend>
        <label for=" usern">User Name</label>
        <input type="text" name="userN" />

        <label for=" userp">User Password</label>
        <input type="password" name="userp" />
    </fieldset>
    <input type="submit" value="Submit" />
    <div id="make-account"> Do not have an account?
        <a href="/registration">Register Here!</a>
    </div>
</form>

   

