
<form class="box-shadow-light">
    <fieldset>
        <legend>Image</legend>

        <label for=" title">Post Title</label>
        <input type="text" name="title" />
    </fieldset>

    <fieldset>
        <label>Description</label>
        <textarea name="Description" cols="40" rows="10"></textarea>
    </fieldset>

    <fieldset>
        <label for=" imag">upload Your image</label>
        <input type="file" name="imag" />
    </fieldset>
    <fieldset>

        <label for=" Privacy">Mark the check box to accept the  </label>
        <a href="https://www.google.com/search?client=firefox-b-1-d&q=privacy">Policy for uploading images</a>
        <input type="checkbox" name="age" />.
    </fieldset>
    <input type="submit" value="Submit" />
</form>
      
